<%= form_for(@objective) do |f| %>
  <% if @objective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@objective.errors.count, "error") %> prohibited this objective from being saved:</h2>

      <ul>
      <% @objective.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :target %><br>
    <%= f.text_field :target %>
  </div>
  <div class="field">
    <%= f.label :bounty %><br>
    <%= f.number_field :bounty %>
  </div>
  <div class="field">
    <%= f.label :myssion_id %><br>
    <%= f.text_field :myssion_id %>
  </div>
  <div class="accomplished">
    <%= f.label :accomplished %><br>
    <%= f.check_box :accomplished %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
