<%= form_for(@myssion) do |f| %>
  <% if @myssion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myssion.errors.count, "error") %> prohibited this myssion from being saved:</h2>

      <ul>
      <% @myssion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :risk_value %><br>
    <%= f.number_field :risk_value %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
